.form {
  display: flex;
  flex-direction: column;
  margin: 25px;
	max-width: 430px;
	justify-content: center;
	text-align: center;
  input,
  .ant-input-password{
    font-size: 16px;
    background-color: #d9d9d9;
    padding: 15px;
    border-radius: 15px;
    border: 1px solid black;
  }
	button{
		padding: 35px 20px;
		border-radius: 20px;
		font-size: 20px;
		margin-top: 25px;
	}
}
