.mainDiv {
  padding: 20px;
  margin: 10% auto;
  background-color: #d9d9d9;
  border-radius: 15px;
  width: fit-content;
  span {
    font-size: 14px;
    font-weight: 700;
    text-align: left;
  }
  .goal {
    font-size: 17px;
    font-weight: 700;
    line-height: 23.46px;
    letter-spacing: 0.0094em;
    text-align: left;
    width: 70%;
  }
}
